@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url(./img/sky--purple-kracked.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
    font-size: 1.3rem;
}

.header {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.js30 {
    transform: skewY(-3deg);
    margin-bottom: 2rem;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 4rem;
}
.orange {
    color: orange;
}
.challenge {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
}

li a {
    color: white;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
}